spring3-rc2-example-restful/src/main/webapp/WEB-INF/bis.xsd

<s:schema targetNamespace="http://localhost/bis/ws/myws"
          xmlns:bi="http://localhost/bis/ws/myws"
          elementFormDefault="qualified"
          xmlns:s="http://www.w3.org/2001/XMLSchema">

    <s:element name="BIRequest">
        <s:complexType>
            <s:sequence>
                <s:element name="tablename" type="s:string"/>
                <s:element name="connection" type="s:string"/>
            </s:sequence>
        </s:complexType>
    </s:element>

    <s:element name="BIResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="BIResult" type="bi:ArrayOfVentas2Return"/>
            </s:sequence>
        </s:complexType>
    </s:element>

    <s:complexType name="ArrayOfVentas2Return">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="BIReturn" nillable="true" type="bi:BIReturn"/>

        </s:sequence>
    </s:complexType>
    <s:complexType name="BIReturn">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Records" type="bi:ArrayOfVentas2Row"/>
        </s:sequence>
    </s:complexType>

    <s:complexType name="ArrayOfVentas2Row">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="BIRow" nillable="true" type="bi:BIRow"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="BIRow">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Mes" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Monto" type="s:int"/>

        </s:sequence>
    </s:complexType>


</s:schema>